footer {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    padding: .5rem 0;
    padding-bottom: calc(.5rem + env(safe-area-inset-bottom));
    position: sticky;
    width: 100%;
    z-index: 1;
    background-color: #DF7784;
    
    button {
        width: 7rem;
        background: linear-gradient(180deg, #e9ae3c 0%, rgba(233, 205, 60, 0) 100%);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        color: white;
        font-size: 2em;
        font-weight: bold;
        font-family: "Allan", cursive;
        border: none;

        &:disabled {
            opacity: .4;
        }
    }
}