/* Orientation Lock */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

html {
  background-color: #2f80ed;
}

.app {
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #e36fa6 100%);
}
